body.bg-dark {
    background-color: #343a40 !important;
    color: #f8f9fa !important;
}

.form-control.bg-dark {
    background-color: #495057;
    color: #f8f9fa;
}

.card.bg-secondary {
    background-color: #6c757d;
}

.table.table-dark th,
.table.table-dark td {
    color: #f8f9fa;
}

.carousel-image {
    height: 600px; /* Ajusta esta altura según tus necesidades */
    object-fit: cover; /* Asegura que la imagen cubra completamente el área disponible */
}
